# IS 362 - Week 7 Assignment

To begin, I will import the pandas module.

In [1]:
import pandas as pd
from pandas import DataFrame

Set some pandas options for controlling output display.

In [2]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

Next, read the airport CSV file.

In [4]:
floc1 = r'D:\Projects\Educational\IS362\week-5\data\airports.csv'
ap_csv = pd.read_csv(floc1)
ap_csv

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5.0,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6.0,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6.0,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5.0,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5.0,A,America/New_York
...,...,...,...,...,...,...,...,...
1453,ZUN,Black Rock,35.083228,-108.791778,6454,-7.0,A,America/Denver
1454,ZVE,New Haven Rail Station,41.298669,-72.925992,7,-5.0,A,America/New_York
1455,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0,-5.0,A,America/New_York
1456,ZWU,Washington Union Station,38.897460,-77.006430,76,-5.0,A,America/New_York
1457,ZYP,Penn Station,40.750500,-73.993500,35,-5.0,A,America/New_York

Then create a copy of the airports DataFrame.

In [5]:
airports_cp = ap_csv.copy()

Then clean up the data be extracting only airport records from the airports CSV.

In [6]:
airports = airports_cp[(airports_cp.name.str.contains("Station") == False) & (airports_cp.name.str.contains("Rail") == False)]
airports

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5.0,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6.0,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6.0,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5.0,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5.0,A,America/New_York
...,...,...,...,...,...,...,...,...
1439,YUM,Yuma Mcas Yuma Intl,32.656578,-114.605980,216,-7.0,N,America/Phoenix
1440,Z84,Clear,64.301203,-149.120144,552,-9.0,A,America/Anchorage
1443,ZPH,Municipal Airport,28.228056,-82.155833,90,-5.0,A,America/New_York
1450,ZSY,Scottsdale Airport,33.622889,-111.910528,1519,-7.0,A,America/Phoenix
1453,ZUN,Black Rock,35.083228,-108.791778,6454,-7.0,A,America/Denver

Next, to reduce the dataset down to eastern airports, extract only airports in GMT -5 and without invalid tzone values.

In [7]:
extract1 = airports[(airports.tz == -5.0) & (airports.tzone <> '\N')]
extract1

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5.0,A,America/New_York
3,06N,Randall Airport,41.431912,-74.391561,523,-5.0,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5.0,A,America/New_York
5,0A9,Elizabethton Municipal Airport,36.371222,-82.173417,1593,-5.0,A,America/New_York
6,0G6,Williams County Airport,41.467306,-84.506778,730,-5.0,A,America/New_York
...,...,...,...,...,...,...,...,...
1428,X59,Valkaria Municipal,27.960861,-80.558333,26,-5.0,A,America/New_York
1429,XFL,Flagler County Airport,29.282100,-81.121200,33,-5.0,A,America/New_York
1435,YIP,Willow Run,42.237928,-83.530408,716,-5.0,A,America/New_York
1438,YNG,Youngstown Warren Rgnl,41.260736,-80.679097,1196,-5.0,A,America/New_York
1443,ZPH,Municipal Airport,28.228056,-82.155833,90,-5.0,A,America/New_York

To reduce the data set down to airports in Alaska, extract airports in GMT -9 (tz), without invalid tzone values, and aren't railroad stations.

In [8]:
extract2 = airports[(airports.tz == -9.0) & (airports.tzone <> '\N') & (airports.name.str.contains("Station") == False) & (airports.name.str.contains("Rail") == False)]
extract2

,faa,name,lat,lon,alt,tz,dst,tzone
34,369,Atmautluak Airport,60.866667,-162.273056,18,-9.0,A,America/Anchorage
65,6K8,Tok Junction Airport,63.329444,-142.953611,1639,-9.0,A,America/Anchorage
86,ABL,Ambler Airport,67.106389,-157.857500,334,-9.0,A,America/Anchorage
95,ADK,Adak Airport,51.878000,-176.646000,18,-9.0,A,America/Anchorage
97,ADQ,Kodiak,57.749967,-152.493856,78,-9.0,A,America/Anchorage
...,...,...,...,...,...,...,...,...
1415,WTK,Noatak Airport,67.566100,-162.975000,88,-9.0,A,America/Anchorage
1416,WTL,Tuntutuliak Airport,60.335278,-162.666944,16,-9.0,A,America/Anchorage
1418,WWP,North Whale Seaplane Base,56.116389,-133.121667,0,-9.0,A,America/Anchorage
1419,WWT,Newtok Airport,60.939167,-164.641111,25,-9.0,U,America/Anchorage
1440,Z84,Clear,64.301203,-149.120144,552,-9.0,A,America/Anchorage

Now, read the weather CSV file.

In [9]:
floc2 = r'D:\Projects\Educational\IS362\week-5\data\weather.csv'
w_csv = pd.read_csv(floc2)
w_csv

,origin,year,month,day,hour,...,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,0,...,11.918651,0.0,1013.9,10.0,2013-01-01T00:00:00Z
1,EWR,2013,1,1,1,...,15.891535,0.0,1013.0,10.0,2013-01-01T01:00:00Z
2,EWR,2013,1,1,2,...,14.567241,0.0,1012.6,10.0,2013-01-01T02:00:00Z
3,EWR,2013,1,1,3,...,15.891535,0.0,1012.7,10.0,2013-01-01T03:00:00Z
4,EWR,2013,1,1,4,...,17.215830,0.0,1012.8,10.0,2013-01-01T04:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...
26125,LGA,2013,12,30,19,...,15.891535,0.0,1017.1,10.0,2013-12-30T19:00:00Z
26126,LGA,2013,12,30,20,...,19.864419,0.0,1018.8,10.0,2013-12-30T20:00:00Z
26127,LGA,2013,12,30,21,...,17.215830,0.0,1019.5,10.0,2013-12-30T21:00:00Z
26128,LGA,2013,12,30,22,...,19.864419,0.0,1019.9,10.0,2013-12-30T22:00:00Z
26129,LGA,2013,12,30,23,...,21.188714,0.0,1020.9,10.0,2013-12-30T23:00:00Z

Create a copy of the weather DataFrame.

In [10]:
weather = w_csv.copy()

Next, extract weather records for Feb 12, 2013 only.

In [11]:
extract3 = weather[(weather.year == 2013) & (weather.month == 2) & (weather.day == 12)]
extract3

,origin,year,month,day,hour,...,wind_gust,precip,pressure,visib,time_hour
1007,EWR,2013,2,12,0,...,0.000000,0.0,1004.7,0.5,2013-02-12T00:00:00Z
1008,EWR,2013,2,12,1,...,3.972884,0.0,1004.7,0.5,2013-02-12T01:00:00Z
1009,EWR,2013,2,12,2,...,9.270062,0.0,NaN,1.5,2013-02-12T02:00:00Z
1010,EWR,2013,2,12,3,...,6.621473,0.0,NaN,3.0,2013-02-12T03:00:00Z
1011,EWR,2013,2,12,4,...,9.270062,0.0,NaN,10.0,2013-02-12T04:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...
18445,LGA,2013,2,12,19,...,23.837303,0.0,1011.5,10.0,2013-02-12T19:00:00Z
18446,LGA,2013,2,12,20,...,19.864419,0.0,1011.3,10.0,2013-02-12T20:00:00Z
18447,LGA,2013,2,12,21,...,10.594357,0.0,1010.4,10.0,2013-02-12T21:00:00Z
18448,LGA,2013,2,12,22,...,17.215830,0.0,1013.6,10.0,2013-02-12T22:00:00Z
18449,LGA,2013,2,12,23,...,19.864419,0.0,1014.7,10.0,2013-02-12T23:00:00Z

## Sort the airports by descending latitude and return the first row to find the northern most airport in the US.

In [12]:
lat_sorted = extract2.sort_values(by='lat', ascending=False)
lat_sorted.head(1)

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage

## Sort the airports by descending longitude and return the first row to find the eastern most airport in the US.

In [13]:
lon_sorted = extract1.sort_values(by='lon', ascending=False)
lon_sorted.head(1)

,faa,name,lat,lon,alt,tz,dst,tzone
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5.0,A,America/New_York

## Sort the weather by descending wind speed to return the airport with the highest wind speed on Feb 12, 2013.

In [14]:
w_sorted = extract3.sort_values(by='wind_speed', ascending=False)
w_sorted.head(1)

,origin,year,month,day,hour,...,wind_gust,precip,pressure,visib,time_hour
1015,EWR,2013,2,12,8,...,1206.432388,0.0,1008.3,10.0,2013-02-12T08:00:00Z